# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.pipenv/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
